@using MojDziennikv4.Models
@using MojDziennikv4.Extensions
@model IEnumerable<MojDziennikv4.Models.Lesson>

@{
    ViewBag.Title = "Lekcje";
    QueryOptions<String> queryOptions = (QueryOptions<String>)ViewBag.QueryOptions;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container" style="width:inherit">
    <div class="row">
        <div class="col-lg-6">
            <h2>Lekcje</h2>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3 text-right">
            @Html.BuildSearchableLink("Searchitem", "Wpisz szukaną fraze", "Index", "Class_Number", queryOptions)
        </div>
    </div>
</div>
<p>
    <a href="/Lessons/Create"><input type="button" value="Stwórz nową lekcje" class="btn btn-default" /></a>
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.BuildSortableLink("Dzień tygodnia", "Index", "Day_Of_Week", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Godzina rozpoczęcia", "Index", "Start_Time", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Sala", "Index", "Class_Room.Class_Room_Number", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Nauczyciel", "Index", "Employee.Surname", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Klasa", "Index", "School_Class.Class_Number", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Przedmiot", "Index", "Subject.Subject_Name", queryOptions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Day_Of_Week)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Room.Class_Room_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.School_Class.Class_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.Subject_Name)
            </td>
            <td>
                <a href="/Lessons/Edit/@item.Lesson_Id" class="reference">Edytuj</a>|
                <a href="/Lessons/Delete/@item.Lesson_Id" class="reference">Usuń</a>
            </td>
        </tr>
    }

</table>
<div>
    <div>@Html.BuildNextPerviousLinks(queryOptions, "Index")</div>
</div>