@model MojDziennikv4.Models.Class_Room

@{
    ViewBag.Title = "Stwórz Sale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Stwórz</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sala</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" for="Class_Room_Number">Numer sali</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Class_Room_Number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Class_Room_Number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Employee_Id">Numer Pracownika</label>
            <div class="col-md-10">
                @Html.DropDownList("Employee_Id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Employee_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Size">Rozmiar sali</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Size, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Size, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Subject_Id">Numer Przedmiotu</label>
                        <div class="col-md-10">
                @Html.EditorFor(model => model.Subject_Id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Equipment_Description">Opis wyposażenia</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Equipment_Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Equipment_Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Stwórz" class="btn btn-default" />
                <a href="/Class_Rooms/Index"><input type="button" value="Powrót do listy" class="btn btn-default" /></a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
