@model MojDziennikv4.Models.Class_Room

@{
    ViewBag.Title = "Usuń sale";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Usuń</h2>

<h3>Na pewno chcesz usunąć dany rekord?</h3>
<div>
    <h4>Sala</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Rozmiar sali
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
           Numer przedmiotu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_Id)
        </dd>

        <dt>
            Opis sali
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment_Description)
        </dd>

        <dt>
           Nazwisko pracownika
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Surname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            <a href="/Class_Rooms/Index"><input type="button" value="Powrót do listy" class="btn btn-default" /></a>
        </div>
    }
</div>
