@using MojDziennikv4.Models.DAL
@model IEnumerable<MojDziennikv4.Models.Account>

@{
    HttpResponse Response = System.Web.HttpContext.Current.Response;
    
    Layout = null;
    bool udane = true;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/login")
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"> 
    <title>Index</title>
	<link rel="stylesheet" href="css/style.css">
    @{ 

        int i = PersonAccount.checkpasses(ViewBag.hlp.db, ViewBag.hlp.Login, ViewBag.hlp.Password, ViewBag.hlp.Type);
        switch (i)
        {
            case 3:
                ViewBag.hlp.Type = "Unknow"; PersonAccount.getInstance().IsAuthenticated = true; Response.Redirect("/Home/Index", true); break;
            case 2:
                ViewBag.hlp.Type = "Unknow"; PersonAccount.getInstance().IsAuthenticated = true; Response.Redirect("/Home/AsPupil", true); break;
            case 1:
                ViewBag.hlp.Type = "Unknow"; PersonAccount.getInstance().IsAuthenticated = true; Response.Redirect("/Home/AsTeacher", true); break;

        }

        if (ViewBag.hlp.Type != "Unknow")
        {
            udane = false;
        }

        }
</head>
<body>
	<div class='selection'>
	<div class='left'>
		<p class="option" id="dyrektor">Dyrektor</p>
		<p class="option" id="sekretariat">Sekretariat</p>
		<p class="option selected" id="administrator">Administrator</p>
	</div>
   	 <div id='panellog'>
		<p class='message'>Logujesz się jako: Administrator</p>
		<form action="~/Login/Index" method=post>
			<p><input name="frm_login" type="text" placeholder="Login"></p>
			<p><input name="frm_password" type="password" placeholder="Hasło"></p>
			<select name="sel_type" hidden>
				<option id='administrator' value=@MojDziennikv4.Models.AccountType.Administrator>@MojDziennikv4.Models.AccountType.Administrator</option>
				<option id='dyrektor' value=@MojDziennikv4.Models.AccountType.Dyrektor>@MojDziennikv4.Models.AccountType.Dyrektor</option>
				<option id='nauczyciel' value=@MojDziennikv4.Models.AccountType.Nauczyciel>@MojDziennikv4.Models.AccountType.Nauczyciel</option>
				<option id='opiekun' value=@MojDziennikv4.Models.AccountType.Opiekun>@MojDziennikv4.Models.AccountType.Opiekun</option>
				<option id='sekretariat' value=@MojDziennikv4.Models.AccountType.Sekretariat>@MojDziennikv4.Models.AccountType.Sekretariat</option>
				<option id='uczen' value=@MojDziennikv4.Models.AccountType.Uczen>@MojDziennikv4.Models.AccountType.Uczen</option>
			</select>
			<input value="Zaloguj się" type="submit">
		</form>
	</div>
	<div class='right'>
		<p class="option" id="uczen">Uczeń</p>
		<p class="option" id="nauczyciel">Nauczyciel</p>
		<p class="option" id="opiekun">Opiekun</p>
	</div>
	<p class="error">Podano błędne dane logowania</p>
</div>
    @Scripts.Render("~/bundles/login");
<script src='js/jquery.min.js'></script>
<script type="text/javascript">
    $(".option").click(function () {
        $(".option").removeClass("selected");
        $(this).addClass("selected");
        $(".message").text("Logujesz się jako: " + $(this).text());
        $("option").removeAttr("selected", "selected");
        $("option#" + $(this).attr("id") + "").attr("selected", "selected");
    });
</script>
@if (!udane){
        <script type="text/javascript">
            $(".error").stop().animate(
                {
                    top: "-40px"
                },
                "fast"
            );
            $(".error").delay(1500).animate(
                {
                    top: "0px"
                },
                "fast"
            );
        </script>
}

</body>
</html>