@model MojDziennikv4.Models.Event

@{
    ViewBag.Title = "Usuń wydarzenie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuń</title>
</head>
<body>
    <h2>Usuń</h2>
    <h3>Na pewno chcesz usunąć dany rekord?</h3>    <div>
        <h4>Wydarzenie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Czas rozpoczęcia
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Start_Time)
            </dd>

            <dt>
                Czas trwania w dniach
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Duration_In_Days)
            </dd>

            <dt>
                Opis
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Describe)
            </dd>

            <dt>
                Grupa użytkowników
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Account_Group)
            </dd>

            <dt>
                Nazwisko nauczyciela
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee.Surname)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                <a href="/Events/Index"><input type="button" value="Powrót do listy" class="btn btn-default" /></a>
            </div>
        }
    </div>
</body>
</html>
