@using MojDziennikv4.Models
@using MojDziennikv4.Extensions
@model IEnumerable<MojDziennikv4.Models.Event>

@{
    ViewBag.Title = "Wydarzenia";
    QueryOptions<String> queryOptions = (QueryOptions<String>)ViewBag.QueryOptions;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container" style="width:inherit">
    <div class="row mymargin">
        <div class="col-lg-6">
            <h2 style="margin-top:0px; margin-bottom:19px;">Wydarzenia</h2>
            <a href="/Events/Create"><input type="button" value="Stwórz wydarzenie" class="btn btn-default" /></a>

        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3 text-right">
            @Html.BuildSearchableLink("Searchitem", "Wpisz szukaną fraze", "Index", "Employee.Surname", queryOptions)
        </div>
    </div>
</div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>
                @Html.BuildSortableLink("Czas rozpoczęcia", "Index", "Start_Time", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("Czas trwania w dniach", "Index", "Duration_In_Days", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("Opis", "Index", "Describe", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("Grupa docelowa", "Index", "Account_Group", queryOptions)
            </th>
            <th>
                @Html.BuildSortableLink("Nazwisko twórcy", "Index", "Employee.Surname", queryOptions)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Start_Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration_In_Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Describe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Account_Group)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Surname)
                </td>
                <td>
                    <a href="/Events/Edit/@item.Event_Id" class="reference">Edytuj</a>|
                    <a href="/Events/Delete/@item.Event_Id" class="reference">Usuń</a>
                </td>
            </tr>
        }

    </table>
<div>
    <div>@Html.BuildNextPerviousLinks(queryOptions, "Index")</div>
</div>
@Styles.Render("~/Content/css");