@model MojDziennikv4.Models.Employee

@{
    ViewBag.Title = "Usuń rekord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Usuń rekord</title>
</head>
<body>
    <h2>Usuń</h2>
    <h3>Na pewno chcesz usunąć dany rekord?</h3>
    <div>
        <h4>Pracownik</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Imie
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.First_Name)
            </dd>
    
            <dt>
                Drugie imie
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Middle_Name)
            </dd>
    
            <dt>
                Nazwisko
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Surname)
            </dd>
    
            <dt>
                Pesel
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Pesel_Number)
            </dd>
    
            <dt>
                Telefon
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Telefon_Number)
            </dd>
    
            <dt>
                Data zatrudnienia
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Hire_Date)
            </dd>
    
            <dt>
                Data urodzenia
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Birth_Date)
            </dd>
    
            <dt>
                Adres
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Adress)
            </dd>
    
            <dt>
                Login
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Account.Login)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-default" /> |
                <a href="/Employees/Index"><input type="button" value="Powrót do listy" class="btn btn-default" /></a>

            </div>
        }
    </div>
</body>
</html>
