@using MojDziennikv4.Models
@using MojDziennikv4.Extensions
@model IEnumerable<MojDziennikv4.Models.School_Class>

@{
    ViewBag.Title = "Klasy";
    QueryOptions<String> queryOptions = (QueryOptions<String>)ViewBag.QueryOptions;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container" style="width:inherit">
    <div class="row">
        <div class="col-lg-6">
            <h2>Klasy</h2>

        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3 text-right">
            @Html.BuildSearchableLink("Searchitem", "Wpisz szukaną fraze", "Index", "Class_Number", queryOptions)
        </div>
    </div>
</div>
<p>
    <a href="/School_Class/Create"><input type="button" value="Stwórz nowe konto" class="btn btn-default" /></a>
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.BuildSortableLink("Numer klasy", "Index", "Class_Number", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Profil", "Index", "Profile", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Wychowawca klasy", "Index", "Employee.Surname", queryOptions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Class_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Surname)
            </td>
            <td>
                <a href="/School_Class/Edit/@item.Class_Number" class="reference">Edytuj</a>|
                <a href="/School_Class/Delete/@item.Class_Number" class="reference">Usuń</a>
            </td>
        </tr>
    }

</table>
