@using MojDziennikv4.Models
@using MojDziennikv4.Extensions
@model IEnumerable<MojDziennikv4.Models.Account>

@{
    ViewBag.Title = "Konta użytkowników";
    QueryOptions<String> queryOptions = (QueryOptions<String>)ViewBag.QueryOptions;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int i = 0;
}
<div class="container" style="width:inherit">
    <div class="row mymargin">
        <div class="col-lg-6 text-left" style="height:inherit">
            <h2 style="margin-top:0px; margin-bottom:19px;">Konta użytkowników</h2>
            <a href="/Accounts/Create"><input type="button" value="Stwórz konto" class="btn btn-default" /></a>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3 text-right">
            @Html.BuildSearchableLink("Searchitem", "Wpisz szukaną fraze", "Index", "Login", queryOptions)
        </div>
    </div>
</div>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.BuildSortableLink("Login", "Index", "Login", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Hasło", "Index", "Password", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Typ konta", "Index", "Account_Type", queryOptions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account_Type)
            </td>
            <td>
                @if (@i % 2 == 0){
                <a href="/Accounts/Edit/@item.Account_Id" class="reference" style="color:white">Edytuj</a> <span>|</span>
                <a href = "/Accounts/Delete/@item.Account_Id" class="reference" style="color:white">Usuń</a>
                    i++;
                }
                else
                {
                    <a href="/Accounts/Edit/@item.Account_Id" class="reference" style="color:black">Edytuj</a> <span>|</span>
                    <a href="/Accounts/Delete/@item.Account_Id" class="reference" style="color:black">Usuń</a>
                    i++;
                }
            </td>
        </tr>
        
    }

</table>
<div>
    <div>@Html.BuildNextPerviousLinks(queryOptions, "Index")</div>
</div>
@Styles.Render("~/Content/css");