@using MojDziennikv4.Models
@using MojDziennikv4.Extensions
@model IEnumerable<MojDziennikv4.Models.Account>

@{
    ViewBag.Title = "Konta";
    QueryOptions queryOptions = (QueryOptions)ViewBag.QueryOptions;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Konta użytkowników</h2>

<p>
    @Html.ActionLink("Stwórz nowe konto", "Create")
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.BuildSortableLink("Login", "Index", "Login", queryOptions)
        </th>
        <th>
           @Html.BuildSortableLink("Hasło", "Index", "Password", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Typ konta", "Index", "Account_Type", queryOptions)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_Type)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.Account_Id }) |
            @Html.ActionLink("Usuń", "Delete", new { id=item.Account_Id })
        </td>
    </tr>
}

</table>
