@using MojDziennikv4.Models;
@model MojDziennikv4.Models.Mark
@{
    ViewBag.Title = "AddMarks";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}


<h2>Dodaj Oceny</h2>

<h3>Wybierz klase i przedmiot</h3>
<select id="myDropDown">
    <option> </option>
    @foreach (School_Class classes in ViewBag.Class_Name)
    {
        <option>@classes.Class_Number</option>
    }
</select>

<form name="form1" action="/TeacherOptions/AddMarks" method="post">
    <select name="Subject1" id="Subject1">
        <option> </option>
        @foreach (String subject in ViewBag.Subjects)
        {
            <option>@subject</option>
        }
    </select>
</form>
<div id="partialPlaceHolder" style="display:none; padding-top:50px;">@Html.Action("PartialAddMakrs", "TeacherOptions") </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/ClasschengerMarks.js");
}
<script type="text/javascript">
    function submitForms()
        {
        document.getElementsByName("form1")[0].submit();
        document.getElementsByName("form2")[0].submit();
        }
</script>




