@using MojDziennikv4.Models;
@model Dictionary<String, List<Mark>>
@{
    int i = 0;
    int y = 0;
}
<h2>Oceny</h2>
<table class="table table-bordered table-striped">
    @{

        foreach (String val in Model.Keys)
        {
            if (y == 0)
            {
                <tr>


                    <td class="tdwidthlong" style="background-color: #eff709 !important;color: black !important; opacity: 0.7 !important;">@val</td>

                    @foreach (Mark mark in Model[val])
                    {
                        <td class="tdwidthshort text-center" style="background-color: #eff709 !important;color: black !important; opacity: 0.7 !important;" title="@Model[val].ElementAt(i).Describe">@mark.Value</td>
                        i += 1;
                    }
                    @for (; i < 15; i++)
                    {

                        <td class="tdwidthshort" style="background-color: #eff709 !important;color: black !important; opacity: 0.7 !important;"></td>
                    }

                </tr>
            }
            else
            {
                <tr>


                    <td class="tdwidthlong">@val</td>

                    @foreach (Mark mark in Model[val])
                    {
                        <td class="tdwidthshort text-center" title="@Model[val].ElementAt(i).Describe">@mark.Value</td>
                        i += 1;
                    }
                    @for (; i < 15; i++)
                    {

                        <td class="tdwidthshort"></td>
                    }

                </tr>
            }
            i = 0;
            y++;
        }}
</table>

