@model MojDziennikv4.Models.Pupil

@{
    ViewBag.Title = "Usuń ucznia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Usuń</h2>

<h3>Na pewno chcesz usunąć dany rekord?</h3>
<div>
    <h4>Uczeń</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_Name)
        </dd>

        <dt>
            Drugie imie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Middle_Name)
        </dd>

        <dt>
            Nazwisko
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            Pesel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pesel_Number)
        </dd>

        <dt>
            Data urodzenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birth_Date)
        </dd>

        <dt>
            Numer legitymacji
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School_Id_Card_Number)
        </dd>

        <dt>
            Login
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account.Login)
        </dd>

        <dt>
            Imie opiekuna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Legal_Guardian.First_Name)
        </dd>

        <dt>
            Klasa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School_Class.Class_Number)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            <a href="/Pupils/Index"><input type="button" value="Powrót do listy" class="btn btn-default" /></a>
        </div>
    }
</div>
