@model MojDziennikv4.Models.Note

@{
    ViewBag.Title = "Usuń uwage";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Usuń</h2>

<h3>Na pewno chcesz usunąć dany rekord?</h3>
<div>
    <h4>Uwaga</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data nadania
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note_Date)
        </dd>

        <dt>
            Pozytywna
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Positve)
        </dd>

        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Describe)
        </dd>

        <dt>
            Nazwisko Nauczyciela
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Surname)
        </dd>

        <dt>
            Nazwisko ucznia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pupil.Surname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            <a href="/Notes/Index"><input type="button" value="Powrót do listy" class="btn btn-default" /></a>
        </div>
    }
</div>
