@using MojDziennikv4.Models
@using MojDziennikv4.Extensions
@model IEnumerable<MojDziennikv4.Models.Note>

@{
    ViewBag.Title = "Uwagi";
    QueryOptions<String> queryOptions = (QueryOptions<String>)ViewBag.QueryOptions;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="container" style="width:inherit">
    <div class="row">
        <div class="col-lg-6">
            <h2>Uwagi</h2>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3 text-right">
            @Html.BuildSearchableLink("Searchitem", "Wpisz szukaną fraze", "Index", "Employee.Surname", queryOptions)
        </div>
    </div>
</div>
<p>
    <a href="/Notes/Create"><input type="button" value="Stwórz nowe konto" class="btn btn-default" /></a>
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>
            @Html.BuildSortableLink("Data nadania uwagi", "Index", "Note_Date", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Pozytywna", "Index", "Positve", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Opis", "Index", "Describe", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Nazwisko nauczyciela", "Index", "Employee.Surname", queryOptions)
        </th>
        <th>
            @Html.BuildSortableLink("Nazwisko ucznia", "Index", "Pupil.Surname", queryOptions)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Note_Date)
            </td>
            <td>
                @if (item.Positve)
                {
                    <p>Tak</p>
                }
                else
                {
                    <p>Nie</p>
                }
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Describe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pupil.Surname)
            </td>
            <td>
                <a href="/Notes/Edit/@item.Note_Id" class="reference">Edytuj</a>|
                <a href="/Notes/Delete/@item.Note_Id" class="reference">Usuń</a>
            </td>
        </tr>
    }

</table>
