@using MojDziennikv4.Controllers
@using MojDziennikv4.Models
@model MojDziennikv4.Models.Pupil
@{
    ViewBag.Title = "Pupil";
    Layout = "~/Views/Shared/_PupilLayout.cshtml";
}

<div class="container" id='maingridpane'>
    <div class="row" id="rowgridpane">
        <div class="col-sm-4 col-md-4 col-lg-4 informacionPanel">
            <div id="personaldata">
                <h2>Dane ucznia</h2>
                <img src="/Content/Images/pupilicon.jpg" class="img-rounded" width="100" height="100" />
                <table>
                    @foreach (Pair<string,string> s in @ViewBag.PupilDetails)
                    {
                        <tr>
                            <td class="tdwidthlong">@s.first</td>
                            <td>@s.secound</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 informacionPanel text-center" id="calendar">
            <h2>Kalendarz</h2>
            <script type="text/javascript">
                calendar();
            </script>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 informacionPanel" id="zegarek">
            <h2>Następna lekcja</h2>
        @Html.Action("NextLesson", "ParticalLesson")</div>

    </div>
    <div class="row" id="rowgridpane">

        <div class="col-sm-4 col-md-4 col-lg-4 informacionPanel" id="Wydarzenia">
            <h2>Wydarzenia</h2>
            @Html.Action("Index", "ParticalEvents")
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 informacionPanel" id="planlekcji">
            <h2>Plan Lekcji</h2>
            @Html.Action("LessonInDay", "ParticalLesson")
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 informacionPanel" id="BieżącaLekcja">
            <h2>Bieżąca lekcja</h2>
            @Html.Action("CurrentLesson", "ParticalLesson")            
        </div>

    </div>
    <div class="row" id="rowgridpane">

        <div class="col-sm-4 col-md-4 col-lg-4 informacionPanel" id="Średniazbieżącejlekcji">
            <h2>Średnia z bieżącej lekcji</h2>
            @{
                float weightSum1 = 0f;
                float sumOfMarkMultipleByWeight1 = 0f;
                float srednia1=0f;
                if (ParticalLessonController.currentLessonName != "")
                {
                    foreach (var mark in Model.Mark.Where(a => a.Subject.Subject_Name.Equals(ParticalLessonController.currentLessonName)).ToList())
                    {
                        weightSum1 += (float)mark.Weight;
                        sumOfMarkMultipleByWeight1 += (float)mark.Weight * mark.Value;
                    }
                    srednia1 = (sumOfMarkMultipleByWeight1 / weightSum1);
                }
            }
            @if (!float.IsNaN(srednia1))
            {
                <h1 style="color:red;"> @srednia1.ToString("0.00")</h1>
            }
            else
            {
                <p>aktualnie nie ma lekcji albo nie masz jeszcze z niego ocen</p>
            }
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 informacionPanel" id="uwagi">
            <h2>Uwagi</h2>
            @for (int i = @Model.Note.ToList().Count - 1; i >= 0; i--)
            {
                int y = 1;
                <p>
                    @if (@Model.Note.ToList().ElementAt(i).Positve)
                { <div>pozytywna @Model.Note.ToList().ElementAt(i).Describe</div>}
                else { <div>negatywna @Model.Note.ToList().ElementAt(i).Describe</div> }
                </p>
                if (y == 3)
                { break; }
                y++;
            }
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 informacionPanel" id="Średniaważonanarok">
            <h2>Średnia ważona na rok</h2>
            @{
                float weightSum = 0f;
                float sumOfMarkMultipleByWeight = 0f;
                foreach (var mark in Model.Mark.ToList())
                {
                    weightSum += (float)mark.Weight;
                    sumOfMarkMultipleByWeight += (float)mark.Weight * mark.Value;
                }
                float srednia = (sumOfMarkMultipleByWeight / weightSum);
            }
            <h1 style="color:red;"> @srednia.ToString("0.00")</h1>
        </div>

    </div>
</div>